@page "/"

<PageTitle>Home</PageTitle>

<h1>Darbo aprašymas</h1>
<p>Šiame darbe aš spriandžiau <a href="https://projecteuler.net/archives" target="_blank">Eulerio uždavinius</a> ir šioje sveteinėje aprašiau jų sprendimą.</p>


@code
{
    
}