<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Euler project</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler1">
                <span class="" aria-hidden="true"></span> Euler 1 problem
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler2">
                <span class="" aria-hidden="true"></span> Euler 2 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler3">
                <span class="" aria-hidden="true"></span> Euler 3 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler4">
                <span class="" aria-hidden="true"></span> Euler 4 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler5">
                <span class="" aria-hidden="true"></span> Euler 5 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler6">
                <span class="" aria-hidden="true"></span> Euler 6 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler7">
                <span class="" aria-hidden="true"></span> Euler 7 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler8">
                <span class="" aria-hidden="true"></span> Euler 8 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler9">
                <span class="" aria-hidden="true"></span> Euler 9 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler10">
                <span class="" aria-hidden="true"></span> Euler 10 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler12">
                <span class="" aria-hidden="true"></span> Euler 12 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler14">
                <span class="" aria-hidden="true"></span> Euler 14 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler15">
                <span class="" aria-hidden="true"></span> Euler 15 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler16">
                <span class="" aria-hidden="true"></span> Euler 16 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler17">
                <span class="" aria-hidden="true"></span> Euler 17 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler18">
                <span class="" aria-hidden="true"></span> Euler 18 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler19">
                <span class="" aria-hidden="true"></span> Euler 19 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler20">
                <span class="" aria-hidden="true"></span> Euler 20 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler21">
                <span class="" aria-hidden="true"></span> Euler 21 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler22">
                <span class="" aria-hidden="true"></span> Euler 22 problem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Euler23">
                <span class="" aria-hidden="true"></span> Euler 23 problem
            </NavLink>
        </div>
    </nav>
</div>

